$main-theme-color: rgb(0, 0, 0);
$secondary-theme-color: rgb(255, 255, 255);
$auxiliary-theme-color: rgba(125, 125, 125, 0.468);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@mixin flexbox($direction) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: $direction;
}
* {
  font-family: "Noto Sans HK", sans-serif;
  box-sizing: border-box;
}
body {
  header {
    // Navbar
    nav {
      div.w-100 {
        background-color: $main-theme-color;
        div {
          ul.my-p-m-0 {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
              width: 15%;

              a {
                color: $secondary-theme-color;
                text-decoration: none;
                font-size: 1rem;
                i {
                  padding-right: 5px;
                }

                h1 {
                  font-size: 1rem;
                  line-height: 0.5;
                  margin-bottom: 0;
                }
                &:hover {
                  color: $secondary-theme-color;
                }
              }
              a.dp {
                display: block;
              }
              a.ndp {
                display: none;
              }
            }
          }
        }
      }
    }
    // mobile side Navbar
    div#sideNav {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: none;
      height: 100vh;
      width: 90%;
      background-color: $main-theme-color;
      nav {
        ul {
          padding-left: 0;
          margin-bottom: 0;
          list-style-type: none;
          li {
            width: 100%;
            a.sideNevA {
              width: 100%;
              color: $secondary-theme-color;
              text-decoration: none;

              &:hover {
                background-color: $auxiliary-theme-color;
                border-radius: 10px;
                cursor: pointer;
              }
              i {
                padding-right: 10px;
              }
            }
            a.dp {
              display: block;
            }
            a.ndp {
              display: none;
            }
          }
        }
      }
    }
  }
  // Login
  section.login {
    div.modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 60px;
      form.modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        div.imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
          position: relative;
          span.close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
            &:hover,
            &:focus {
              color: red;
              cursor: pointer;
            }
          }
        }
        div.container {
          label {
            font-weight: 100;
          }
          p#show-caps-lock-info {
            display: none;
            color: red;
            margin-bottom: 8px;
          }
          input[type="text"],
          input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 30px;
            &:focus {
              outline: none;
            }
          }
          button {
            background-color: #04aa6d;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 30px;
            &:hover {
              opacity: 0.8;
            }
          }
          button.cancelbtn {
            width: auto;
            margin-left: 12px;
            padding: 10px 18px;
            background-color: #f44336;
            border-radius: 30px;
            margin-bottom: 2rem;
          }
          label.switch {
            position: relative;
            display: inline-block;
            width: 54px;
            height: 28px;
            input {
              opacity: 0;
              width: 0;
              height: 0;
            }
            span.slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 34px;
              &::before {
                border-radius: 50%;
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: 0.2s;
                transition: 0.2s;
              }
            }
            input:checked + span.slider {
              background-color: #2196f3;
            }

            input:focus + span.slider {
              box-shadow: 0 0 1px #2196f3;
            }

            input:checked + span.slider:before {
              transform: translateX(26px);
              transform: translateX(26px);
              transform: translateX(26px);
            }
          }
          a.m {
            text-decoration: none;
            margin-left: 2rem;
            &:hover {
              cursor: pointer;
              color: $main-theme-color;
            }
          }
        }
      }
    }
  }
  //Signup
  section.signUpGroup {
    div.modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #474e5d;
      padding-top: 50px;
      span.close {
        position: absolute;
        right: 100px;
        top: 50px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
        &:hover,
        &:focus {
          color: #f44336;
          cursor: pointer;
        }
      }
      form.modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        div.container {
          h2 {
            font-size: 2rem;
          }
          label {
            font-weight: 100;
          }
          p.show-caps-lock-inpassword {
            display: none;
            color: red;
            margin-bottom: 8px;
          }
          p.show-caps-lock-inrepassword {
            display: none;
            color: red;
            margin-bottom: 8px;
          }
          hr {
            border: 1px solid $auxiliary-theme-color;
            margin-bottom: 1.5rem;
          }
          input[type="text"],
          input[type="password"] {
            width: 100%;
            padding: 1rem;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            border: 1px solid #ccc;
            border-radius: 30px;
            color: $main-theme-color;
            &:focus {
              background-color: $auxiliary-theme-color;
              outline: none;
            }
          }
          label.switch {
            position: relative;
            display: inline-block;
            width: 54px;
            height: 28px;
            input {
              opacity: 0;
              width: 0;
              height: 0;
            }
            span.slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 34px;
              &::before {
                border-radius: 50%;
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: 0.2s;
                transition: 0.2s;
              }
            }
            input:checked + span.slider {
              background-color: #2196f3;
            }

            input:focus + span.slider {
              box-shadow: 0 0 1px #2196f3;
            }

            input:checked + span.slider:before {
              transform: translateX(26px);
              transform: translateX(26px);
              transform: translateX(26px);
            }
          }
          //Password Validation
          div#message {
            display: none;
            border-radius: 30px;
            background: $auxiliary-theme-color;
            color: $main-theme-color;
            position: relative;
            padding: 2rem;
            margin: 1rem 0;
            h3 {
              font-size: 2rem;
              margin: 0;
            }
            p {
              padding: 0.5rem 2rem;
              margin: 0;
              font-size: 1.25rem;
            }
            p.valid {
              color: green;
              &::before {
                position: relative;
                left: -30px;
                content: "✔";
              }
            }
            p.invalid {
              color: red;
              &::before {
                position: relative;
                left: -30px;
                content: "✖";
              }
            }
          }
          div.clearfix {
            &::after {
              content: "";
              clear: both;
              display: table;
            }
            button.cancelbtn {
              border-radius: 30px;
              color: white;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              padding: 14px 20px;
              background-color: #f44336;
              float: left;
              width: 50%;
              &:hover {
                opacity: 0.9;
              }
            }
            button.signupbtn {
              border-radius: 30px;
              background-color: #04aa6d;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              float: left;
              width: 50%;
              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
      }
    }
  }
  // alert
  div.alertGroup {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    div.default {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 50%;
      border-radius: 10px;
      p.closebtn {
        font-weight: bold;
        background-color: $auxiliary-theme-color;
        font-size: 2rem;
        padding-right: 2%;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
        border-bottom: 1px solid black;
        &:hover {
          color: black;
        }
      }
      p.alert-text {
        margin: 2rem;
        font-size: 1.5rem;
      }
    }
    div.danger {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 50%;
      border-radius: 10px;
      p.closebtn {
        border-radius: 10px 10px 0px 0px;
        font-weight: bold;
        background-color: red;
        font-size: 2rem;
        padding-right: 2%;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
        border-bottom: 1px solid black;
        &:hover {
          color: black;
        }
      }
      p.alert-text {
        margin: 2rem;
        font-size: 1.5rem;
      }
    }
    div.info {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 50%;
      border-radius: 10px;
      p.closebtn {
        border-radius: 10px 10px 0px 0px;
        font-weight: bold;
        background-color: rgb(87, 185, 218);
        font-size: 2rem;
        padding-right: 2%;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
        border-bottom: 1px solid black;
        &:hover {
          color: black;
        }
      }
      p.alert-text {
        margin: 2rem;
        font-size: 1.5rem;
      }
    }
    div.success {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 50%;
      border-radius: 10px;
      p.closebtn {
        border-radius: 10px 10px 0px 0px;
        font-weight: bold;
        background-color: rgb(30, 230, 56);
        font-size: 2rem;
        padding-right: 2%;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
        border-bottom: 1px solid black;
        &:hover {
          color: black;
        }
      }
      p.alert-text {
        margin: 2rem;
        font-size: 1.5rem;
      }
    }
  }
  // frontPage
  main.frontPage {
    section.slideshow-group {
      max-height: 70vh;
      div.slideshow-container {
        width: 100%;
        position: relative;
        margin: auto;
        div.mySlides {
          display: none;
          div.numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          img {
            object-fit: cover;
            width: 100%;
            max-height: 70vh;
            vertical-align: middle;
          }
          div.text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }
        }
        a.prev {
          left: 0;
          border-radius: 3px 0 0 3px;
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: $main-theme-color;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          &:hover {
            background-color: $auxiliary-theme-color;
          }
          i {
            font-size: 2rem;
          }
        }
        a.next {
          right: 0;
          border-radius: 3px 0 0 3px;
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: $main-theme-color;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          &:hover {
            background-color: $auxiliary-theme-color;
          }
          i {
            font-size: 2rem;
          }
        }
        span.dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;

          &:hover {
            background-color: #717171;
          }
        }
        span.active {
          background-color: #717171;
        }
      }
    }
    // Collapsible
    section.collapsible-group {
      button.collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      div.content {
        display: block;
        overflow: hidden;
        background-color: #f1f1f1;
        div.collapsible-info {
          p {
            text-indent: 2em;
          }
        }
      }
      button.active,
      .collapsible:hover {
        background-color: #555;
      }
    }
  }
  // productPage
  main.product-page {
    div.container-fluid {
      div.row {
        div.d-none {
          div.tab {
            background-color: $auxiliary-theme-color;
            height: 100%;
            button.tablinks {
              display: block;
              background-color: $auxiliary-theme-color;
              color: $main-theme-color;
              width: 100%;
              border: none;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                background-color: $secondary-theme-color;
              }
              &:active {
                background-color: $main-theme-color;
              }
            }
          }
        }
        div.col-md-10 {
          div.tabcontent {
            animation: fadeOpacity 1s;
            div.row {
              div.col-xl-3 {
                div.box {
                  // cursor: pointer;
                  background-color: $secondary-theme-color;
                  border-radius: 20px;
                  &:hover {
                    box-shadow: 0 0 30px 0px $main-theme-color;
                    transform: scale(1.1);
                  }
                  form.product {
                    img.productImg {
                      height: 250px;
                      object-fit: contain;
                    }

                    button.productShop {
                      border: none;
                      background-color: $secondary-theme-color;
                      color: $main-theme-color;
                      visibility: visible;
                      &:hover {
                        transform: scale(1.2);
                      }
                      &:active {
                        color: $auxiliary-theme-color;
                      }
                      i {
                        padding-right: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // mainSideNavBtn
    div.main-side-for-madia-ctrl {
      display: block;
      button.ctrl-main-side {
        border: none;
        background-color: $secondary-theme-color;
        &:active {
          background-color: $auxiliary-theme-color;
        }
        i.ctrl-icon {
          font-size: 1.25rem;
        }
      }
    }
  }
  //main side for madia
  div.main-side-for-madia {
    display: none;
    div.tab {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100vh;
      width: 60%;

      background-color: $auxiliary-theme-color;
      @include flexbox(column);
      button.cancle-main-side {
        border: none;
        background-color: none;
        margin-bottom: 2rem;
        text-align: start;
        font-size: 1.25rem;
        &:active {
          background-color: $auxiliary-theme-color;
        }
      }
      button.tablinks {
        border: none;
        background-color: $secondary-theme-color;
        &:hover {
          background-color: $auxiliary-theme-color;
        }
        &:active {
          background-color: $auxiliary-theme-color;
        }
      }
    }
  }

  //shoppingCarPage
  main.shoppingCartPage {
    div.container {
      div.formBox {
        form.setProduct {
          div.productContent {
            border-bottom: 1px solid $auxiliary-theme-color;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            div {
              div {
                img.productImg {
                  width: 100%;

                  object-fit: cover;
                }
              }
              div {
                h2.productTitle {
                  font-size: 1.5rem;
                  font-weight: 500;
                  margin: 0;
                }
              }
              div.my-fS {
                font-size: 1.25rem;
                font-weight: 100;
                select.quantity {
                  &:hover {
                    cursor: pointer;
                    background-color: $auxiliary-theme-color;
                  }
                }
              }
              div {
                i {
                  font-size: 1.25rem;
                  padding-right: 5px;
                }
                span.productPrice {
                  font-size: 1.25rem;
                }
              }
              div {
                button.removeProduct {
                  background-color: red;
                  border-radius: 30px;
                  &:hover {
                    scale: (1.2);
                    background-color: rgb(255, 85, 85);
                  }
                  &:active {
                    scale: (0.8);
                    background-color: rgb(92, 18, 18);
                  }
                }
              }
            }
          }
        }
        div.total-contanct {
          background-color: $secondary-theme-color;
          padding-bottom: 1rem;
          div {
            p.priceTotalBox {
              margin: 0;
              font-size: 2rem;
              span.priceTotal {
                font-size: 2rem;
              }
            }
          }
          div {
            button.remove-all-product {
              padding: 1rem 1.5rem;
              font-size: 1.3rem;
              text-align: center;
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: red;
              border: none;
              border-radius: 30px;
              box-shadow: 0 9px #999;
              &:hover {
                background-color: rgb(255, 83, 83);
              }
              &:active {
                background-color: rgb(145, 5, 5);
                box-shadow: 0 5px #666;
                transform: translateY(4px);
              }
            }
          }
          div {
            button.buy {
              padding: 1rem 1.5rem;
              font-size: 1.3rem;
              text-align: center;
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: green;
              border: none;
              border-radius: 30px;
              box-shadow: 0 9px #999;
              &:hover {
                background-color: rgb(1, 216, 1);
              }
              &:active {
                background-color: rgb(21, 78, 21);
                box-shadow: 0 5px #666;
                transform: translateY(4px);
              }
            }
          }
        }
      }
    }
    // Checkout Form
    section.checkout-form-group {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      padding: 60px;
      div.container {
        background-color: #f2f2f2;
        padding: 2rem;
        border: 1px solid lightgrey;
        border-radius: 30px;
        form.checkout-form {
          input[type="text"] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 30px;
            &:hover {
              border: 1px solid #13d3c9;
            }
          }
          div.row1 {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -16px;
            div.col-50 {
              flex: 50%;
              padding: 0 16px;

              label {
                margin-bottom: 10px;
                display: block;
              }

              div.row1 {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -16px;
                div.col-50 {
                  flex: 50%;
                  padding: 0 16px;
                }
              }
              div.icon-container {
                margin-bottom: 20px;
                padding: 7px 0;
                font-size: 24px;
              }

              div.row1 {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -16px;
                div.col-50 {
                  flex: 50%;
                  padding: 0 16px;
                }
              }
            }
          }
          label {
            margin-bottom: 10px;
            display: block;
          }
          input.btn {
            background-color: #04aa6d;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 30px;
            cursor: pointer;
            font-size: 17px;
            &:hover {
              background-color: lightgreen;
            }
          }
          input.btn-cancel {
            background-color: red;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 30px;
            cursor: pointer;
            font-size: 17px;
            &:hover {
              background-color: rgb(233, 67, 67);
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $main-theme-color;
    div {
      div {
        div {
          div.boxFt {
            p {
              color: $secondary-theme-color;
              font-size: 0.75rem;
              a {
                color: $secondary-theme-color;
                text-decoration: none;
                &:hover {
                  color: $auxiliary-theme-color;
                }
                i {
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
@media (max-width: 800px) {
  div.row1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 537px) {
  body {
    header {
      nav {
        div.w-100 {
          div {
            ul.my-p-m-0 {
              li.my-w {
                width: 45%;
              }
            }
          }
        }
      }
    }
  }
}
